{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @copyright   2022 coactum GmbH
    @template margic/margic_view

    Overview.

    Example context (json):
    {
    }
}}

<style media="screen">
    .entrybackground {
        background-color: {{entrybgc}};
    }
    .textbackground {
        background-color: {{textbgc}};
    }
</style>
<style>
    .entryareawidth {
        width: {{entryareawidth}}%;
    }
    .annotationareawidth {
        width: {{annotationareawidth}}%;
    }
</style>
<div class="margic_view">
    {{#edittimenotstarted}}{{#edittimestarts}}<div class="alert alert-warning alert-block fade in" role="alert"><button type="button" class="close" data-dismiss="alert">×</button>{{#str}}editingstarts, mod_margic, {{#userdate}}{{edittimestarts}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}{{/str}}</div>{{/edittimestarts}}{{/edittimenotstarted}}
    {{#edittimehasended}}{{#edittimeends}}<div class="alert alert-danger alert-block fade in" role="alert"><button type="button" class="close" data-dismiss="alert">×</button>{{#str}}editingended, mod_margic, {{#userdate}}{{edittimeends}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}{{/str}}</div>{{/edittimeends}}{{/edittimehasended}}

    <h3>{{#str}}overview, mod_margic{{/str}}</h3>

    <div class="pb-2">
        {{#ratingaggregationmode}}{{#entries.0}}
                <strong>{{ratingaggregationmode}}: </strong>

                {{#currentuserrating}}
                    {{currentuserrating}}
                {{/currentuserrating}}
        {{/entries.0}}{{/ratingaggregationmode}}
        {{^ratingaggregationmode}}{{#str}}norating, mod_margic{{/str}}{{/ratingaggregationmode}}
        {{#entries.0}}<span class="float-right">
            <strong>{{#str}}sorting, mod_margic{{/str}}</strong>{{#sortmode}}<strong>: </strong>{{sortmode}}{{/sortmode}}
        </span>{{/entries.0}}
    </div>

    <div class="pb-1 actionbuttons">
        {{^edittimehasended}}{{^edittimenotstarted}}<a class="btn btn-primary mr-1" href="edit.php?id={{cmid}}"> {{#str}}startnewentry, mod_margic{{/str}} </a>{{/edittimenotstarted}}{{/edittimehasended}}
        {{#entries.0}}
            {{#canmanageentries}}<button class="btn btn-primary" data-toggle="collapse" data-target=".gradingform" aria-expanded="false" aria-controls=".gradingform" title="{{#str}}togglegradingform, mod_margic{{/str}}">{{#str}}togglegradingform, mod_margic{{/str}}</button>{{/canmanageentries}}
            {{#canmanageentries}}{{#singleuser}}<a class="btn btn-primary m-1" href="view.php?id={{cmid}}"> {{#str}}viewallentries, mod_margic{{/str}} </a>{{/singleuser}}{{/canmanageentries}}
            {{^annotationmode}}
                {{#canmakeannotations}}<a class="btn btn-primary m-1 buttonannotationmode" href="view.php?id={{cmid}}&annotationmode=1"> {{#str}}annotations, mod_margic{{/str}} </a>{{/canmakeannotations}}
                {{^canmakeannotations}}<a class="btn btn-primary m-1 buttonannotationmode" href="view.php?id={{cmid}}&annotationmode=1"> {{#str}}viewannotations, mod_margic{{/str}} </a>{{/canmakeannotations}}
            {{/annotationmode}}
            {{#annotationmode}}
                <a class="btn btn-primary m-1 buttonannotationmode" href="view.php?id={{cmid}}"> {{#str}}hideannotations, mod_margic{{/str}} </a>
            {{/annotationmode}}
        {{/entries.0}}
        <a class="btn btn-primary m-1" href="error_summary.php?id={{cmid}}"> {{#str}}errorsummary, mod_margic{{/str}} </a>

        {{#entries.0}}<span class="float-right p-1">
            <a href="view.php?id={{cmid}}&action=download&sesskey={{sesskey}}" class="p-1 pr-2 border-right solid"><i class="fa fa-2x fa-download" title="{{#str}}csvexport, mod_margic{{/str}}"></i></a>
            <a href="view.php?id={{cmid}}&action=currenttooldest&sesskey={{sesskey}}" class="p-1"><i class="fa fa-2x fa-arrow-down" title="{{#str}}currenttooldest, mod_margic{{/str}}"></i></a>
            <a href="view.php?id={{cmid}}&action=oldesttocurrent&sesskey={{sesskey}}" class="p-1"><i class="fa fa-2x fa-arrow-up" title="{{#str}}oldesttocurrent, mod_margic{{/str}}"></i></a>
            {{#ratingaggregationmode}}
                <a href="view.php?id={{cmid}}&action=lowestgradetohighest&sesskey={{sesskey}}" class="p-1"><i class="fa fa-2x fa-thumbs-down" title="{{#str}}lowestgradetohighest, mod_margic{{/str}}"></i></a>
                <a href="view.php?id={{cmid}}&action=highestgradetolowest&sesskey={{sesskey}}" class="p-1"><i class="fa fa-2x fa-thumbs-up" title="{{#str}}highestgradetolowest, mod_margic{{/str}}"></i></a>
            {{/ratingaggregationmode}}
        </span>{{/entries.0}}
    </div>

    {{#entries.0}}
    <form action="view.php?id={{cmid}}" method="post">
        <input type="hidden" name="id" value="{{cmid}}">
        <input type="hidden" name="sesskey" value="{{sesskey}}">

        <div class="mt-1">
            <ul class="pagination">
                {{#pagebar}}
                    <li class="page-item">
                        <a class="page-link" href="view.php?id={{cmid}}&page={{nr}}{{#annotationmode}}&annotationmode=1{{/annotationmode}}">{{{display}}}</a>
                    </li>
                {{/pagebar}}

                <div class="ml-auto">
                    <strong>{{#str}}pagesize, mod_margic{{/str}}:</strong>
                    <select onchange="this.form.submit()" aria-label="Select page count" name="pagecount">
                        {{#pagecountoptions}}<option {{option}}>{{text}}</option>{{/pagecountoptions}}
                    </select>
                    <strong> / {{entriescount}}</strong>
                </div>
            </ul>
        </div>
    </form>

    <div class="d-flex justify-content-between">
        <div class="align-self-center entriesheader {{^annotationmode}}w-100{{/annotationmode}}{{#annotationmode}}entryareawidth{{/annotationmode}} entrybackground">
            <h4 class="text-center">
                {{#canmanageentries}}{{#str}}entries, mod_margic{{/str}}{{/canmanageentries}}
                {{^canmanageentries}}{{#str}}myentries, mod_margic{{/str}}{{/canmanageentries}}
            </h4>
        </div>
        {{#annotationmode}}
            <div class="align-self-center annotationsheader entrybackground annotationareawidth">
                <h4 class="text-center">
                    {{#str}} annotations, mod_margic {{/str}}
                    {{#annotationmode}}
                        <button class="btn btn-secondary margic-btn-round-small float-right" data-toggle="collapse" data-target=".collapseAnnotation" aria-expanded="false" aria-controls="collapseAnnotation" title="{{#str}}toggleallannotations, mod_margic{{/str}}"><i class="fa fa-lg fa-caret-down"></i></button>
                    {{/annotationmode}}
                </h4>
                <div id="overlay" class="entrybackground"><div id="overlaytext"><span class="pr-2">{{#str}}annotationsarefetched, mod_margic{{/str}}</span> <a href="view.php?id={{cmid}}&annotationmode=1" class="btn btn-secondary margic-btn-round-small" title="{{#str}}reloadannotations, mod_margic{{/str}}"><i class="fa fa-lg fa-refresh"></i></a></div></div>
            </div>
        {{/annotationmode}}
    </div>
    {{/entries.0}}

    {{#entries}}
        {{{entry}}}
    {{/entries}}

    {{^entries}}
        <br>
        {{#canmanageentries}}{{#str}}noentriesfound, mod_margic{{/str}}{{/canmanageentries}}
        {{^canmanageentries}}{{#str}}notstarted, mod_margic{{/str}}{{/canmanageentries}}
    {{/entries}}
</div>