{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @copyright   2022 coactum GmbH
    @template margic/margic_entry

    Template for single entry.

    Example context (json):
    {
    }
}}

{{#needsclasses}}
    <style media="screen">
        .entrybackground {
            background-color: {{entrybgc}};
        }
        .textbackground {
            background-color: {{textbgc}};
        }
    </style>
    <style>
        .entryareawidth {
            width: {{entryareawidth}}%;
        }
        .annotationareawidth {
            width: {{annotationareawidth}}%;
        }
    </style>
{{/needsclasses}}

<div class="margic_entry">
    {{#entry}}
        {{#childentries}}
            {{> margic/margic_childentry }}
        {{/childentries}}
        <div class="{{#haschildren}}ml-5 collapse connectedWith{{id}}{{/haschildren}}">
            <div class="d-flex justify-content-between {{#haschildren}}ml-5{{/haschildren}}">
                <div class="entry entrybackground {{^annotationmode}}w-100{{/annotationmode}}{{#annotationmode}}entryareawidth{{/annotationmode}}">
                    <h5>
                        {{^haschildren}}
                            {{#str}}entry, mod_margic{{/str}}
                        {{/haschildren}}
                        {{#haschildren}}
                            {{#str}}baseentry, mod_margic{{/str}}
                        {{/haschildren}}

                        {{#user}}{{#userpicture}}
                            {{#canmanageentries}}
                                {{#str}}from, mod_margic {{/str}}
                                {{{userpicture}}}
                            {{/canmanageentries}}
                        {{/userpicture}}{{/user}}
                        {{#str}}at, mod_margic {{/str}}
                        {{#userdate}}{{timecreated}} ,{{#str}} strftimedatetimeshort, core_langconfig {{/str}}{{/userdate}}
                        {{^readonly}}
                            {{#canmanageentries}}{{^singleuser}}<a class="ml-2" href="view.php?id={{cmid}}&userid={{userid}}"><i class="fa fa-user fa-lg" title="{{#str}}getallentriesofuser, mod_margic{{/str}}"></i></a>{{/singleuser}}{{/canmanageentries}}
                            {{^edittimehasended}}{{#caneditentries}}{{#entrycanbeedited}}<a class="ml-2" href="edit.php?id={{cmid}}&entryid={{id}}"><i class="fa fa-pencil fa-lg" title="{{#str}}editthisentry, mod_margic{{/str}}"></i></a>{{/entrycanbeedited}}{{/caneditentries}}{{/edittimehasended}}
                        {{/readonly}}
                    </h5>

                    {{#text}}
                        <div id="entry-{{id}}" class="entry originaltext textbackground">{{{text}}}</div>
                    {{/text}}
                    {{^text}}<p class="text-center"><strong>{{#str}}blankentry, mod_margic{{/str}}</strong></p>{{/text}}
                    <div class="lastedit">
                        {{#stats}}
                            <strong>{{#str}}details, mod_margic{{/str}}:</strong> {{#str}}numwordsraw, mod_margic, { "wordscount": {{words}}, "charscount": {{chars}}, "spacescount": {{spaces}} } {{/str}}
                            <br>
                        {{/stats}}
                        <strong>{{#str}}timecreated, mod_margic{{/str}}: </strong> {{#userdate}}{{timecreated}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}
                            {{#stats}}{{#datediff}}({{#str}}created, mod_margic, {"years": {{datediff.y}}, "month": {{datediff.m}}, "days": {{datediff.d}}, "hours": {{datediff.h}} } {{/str}}){{/datediff}}{{/stats}}
                        </strong>
                        {{#timemodified}}<br><strong>{{#str}}lastedited, mod_margic {{/str}}: </strong> {{#userdate}}{{timemodified}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}</strong>{{/timemodified}}
                    </div>
                </div>
                {{#annotationmode}}
                    <div class="annotationarea annotationarea-{{id}} annotationareawidth entrybackground">
                        {{#annotations}}
                            <div id="annotation-box-{{id}}" class="annotation-box annotation-box-{{id}} textbackground" tabindex="{{position}}">
                                <div class="errortypeheader">
                                    <span style="border-left: 10px solid #{{color}}; padding-left: 5px;"> </span>
                                    <strong class="errortype">{{type}}</strong>
                                    <button class="btn btn-secondary margic-btn-round-small pull-right" data-toggle="collapse" data-target=".collapseAnnotation{{id}}" aria-expanded="false" aria-controls="collapseAnnotation{{id}}" title="{{#str}}toggleannotation, mod_margic{{/str}}"><i class="fa fa-lg fa-caret-down"></i></button>
                                    <a id="hoverannotation-{{id}}" class="hoverannotation hoverannotation-{{id}} btn btn-secondary margic-btn-round-small pull-right" aria-expanded="false" title="{{#str}}hoverannotation, mod_margic{{/str}}"><i class="fa fa-lg fa-crosshairs"></i></a>
                                </div>
                                <div class="collapse collapseAnnotation collapseAnnotation{{id}}">
                                    <div class="d-flex justify-content-between annotationauthor">
                                        <span>
                                            {{{userpicturestr}}}
                                        </span>
                                        <span class="align-self-center">
                                            {{^timemodified}}{{#userdate}}{{timecreated}}, {{#str}} strftimedatetimeshort, core_langconfig {{/str}}{{/userdate}} <i class="fa fa-hourglass-start" aria-hidden="true" title="{{#str}}annotationcreated, margic, {{#userdate}}{{timecreated}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}} {{/str}}"></i> {{/timemodified}}
                                            {{#timemodified}}{{#userdate}}{{timemodified}}, {{#str}} strftimedatetimeshort, core_langconfig {{/str}}{{/userdate}} <i class="fa fa-hourglass-end" aria-hidden="true" title="{{#str}}annotationmodified, margic, {{#userdate}}{{timemodified}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}} {{/str}}"></i>{{/timemodified}}
                                        </span>
                                    </div>
                                    <div class="annotatedtextpreviewdiv">
                                        <span id="annotationpreview-{{id}}" class="annotatedtextpreview annotationpreview-{{id}}" style="border-color: #{{color}};">{{#exact}}{{exact}}{{/exact}}{{^exact}}{{#str}}annotatedtextnotfound, mod_margic {{/str}}  <i class="fa fa-exclamation text-danger" aria-hidden="true" title="{{#str}}annotatedtextinvalid, margic {{/str}}"></i>{{/exact}}</span>
                                    </div>
                                    <span class="annotation">
                                        {{#text}}{{text}}{{/text}}
                                        {{^text}}-{{/text}}
                                    </span>
                                    {{#canbeedited}}
                                        <span class="pull-right"><a href="javascript:void(0);" title="{{#str}}editannotation, margic {{/str}}"><i id="edit-annotation-{{id}}" class="fa fa-lg fa-pencil m-r-1 edit-annotation" aria-hidden="true" ></i></a><a href="annotations.php?id={{cmid}}&deleteannotation={{id}}&sesskey={{sesskey}}" title="{{#str}}deleteannotation, margic {{/str}}"><i id="delete-annotation-{{id}}" class="fa fa-lg fa-trash delete-annotation" aria-hidden="true"></i></a></span>
                                    {{/canbeedited}}
                                </div>
                            </div>
                        {{/annotations}}

                        {{#annotationform}}
                            <div class="annotation-box annotation-form annotation-form-{{id}} textbackground">
                                <div class="annotatedtextpreviewdiv">
                                    <span id="annotationpreview-temp-{{id}}" class="annotatedtextpreview">{{#str}}annotatedtextnotfound, mod_margic {{/str}} <i class="fa fa-exclamation text-danger" aria-hidden="true" title="{{#str}}annotatedtextinvalid, margic {{/str}}"></i></span>
                                </div>
                                {{{annotationform}}}
                            </div>
                        {{/annotationform}}
                    </div>
                {{/annotationmode}}
            </div>
        </div>
        <div class="entryfooter mb-2 entrybackground">
            {{#canmanageentries}}
                {{#gradingform}}
                    <div class="gradingform collapse {{#gradingmode}}show{{/gradingmode}} textbackground">
                        {{{gradingform}}}
                    </div>
                {{/gradingform}}
            {{/canmanageentries}}
            {{^canmanageentries}}
                {{#gradingform}}{{{gradingform}}}{{/gradingform}}
            {{/canmanageentries}}

            {{#edittimeends}}
                <div class="editend"><span>
                    {{^edittimehasended}}{{#str}}editingends, mod_margic, {{#userdate}}{{edittimeends}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}{{/str}}{{/edittimehasended}}
                    {{#edittimehasended}}{{#str}}editingended, mod_margic, {{#userdate}}{{edittimeends}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}{{/str}}{{/edittimehasended}}
                </span></div>
            {{/edittimeends}}

            {{#needsgrading}}
                <div class="needsedit"><span>{{needsgrading}}</span></div>
            {{/needsgrading}}

            {{#needsregrading}}
                <div class="needsedit"><span>{{needsregrading}}</span></div>
            {{/needsregrading}}
        </div>
    {{/entry}}
</div>