{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @copyright   2022 coactum GmbH
    @template margic/margic_view

    Overview.
}}

{{#js}}
{{/js}}

{{#edittimehasended}}{{#edittimeends}}<div class="alert alert-danger alert-block fade in" role="alert"><button type="button" class="close" data-dismiss="alert">×</button>{{#str}}editingended, mod_margic, {{#userdate}}{{edittimeends}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}{{/str}}</div>{{/edittimeends}}{{/edittimehasended}}
{{#edittimenotstarted}}{{#edittimestarts}}<div class="alert alert-warning alert-block fade in" role="alert"><button type="button" class="close" data-dismiss="alert">×</button>{{#str}}editingstarts, mod_margic, {{#userdate}}{{edittimestarts}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}}{{/userdate}}{{/str}}</div>{{/edittimestarts}}{{/edittimenotstarted}}

{{#canmanageentries}}<h3>{{#str}}entries, mod_margic{{/str}}</h3>{{/canmanageentries}}
{{^canmanageentries}}<h3>{{#str}}myentries, mod_margic{{/str}}</h3>{{/canmanageentries}}

<div class="pb-2">
    {{#ratingaggregationmode}}{{#entries.0}}
            <strong>{{ratingaggregationmode}}: </strong>

            {{#currentuserrating}}
                {{currentuserrating}}
            {{/currentuserrating}}
    {{/entries.0}}{{/ratingaggregationmode}}
    {{^ratingaggregationmode}}{{#str}}norating, mod_margic{{/str}}{{/ratingaggregationmode}}
    {{#entries.0}}<span class="pull-right pr-5">
        <strong>{{#str}}sorting, mod_margic{{/str}}</strong>{{#sortmode}}<strong>: </strong>{{sortmode}}{{/sortmode}}
    </span>{{/entries.0}}
</div>

<div class="pb-1 actionbuttons">
    {{^edittimehasended}}{{^edittimenotstarted}}<a class="btn btn-primary mr-1" href="edit.php?id={{cmid}}"> {{#str}}startnewentry, mod_margic{{/str}} </a>{{/edittimenotstarted}}{{/edittimehasended}}
    {{#entries.0}}
        {{#canmanageentries}}<button class="btn btn-primary" data-toggle="collapse" data-target=".gradingform" aria-expanded="false" aria-controls=".gradingform" title="{{#str}}toggleratingform, mod_margic{{/str}}">{{#str}}toggleratingform, mod_margic{{/str}}</button>{{/canmanageentries}}
        {{#canmanageentries}}{{#singleuser}}<a class="btn btn-primary m-1" href="view.php?id={{cmid}}"> {{#str}}viewallentries, mod_margic{{/str}} </a>{{/singleuser}}{{/canmanageentries}}
        {{^annotationmode}}
            {{#canmakeannotations}}<a class="btn btn-primary m-1" href="view.php?id={{cmid}}&annotationmode=1"> {{#str}}viewandmakeannotations, mod_margic{{/str}} </a>{{/canmakeannotations}}
            {{^canmakeannotations}}<a class="btn btn-primary m-1" href="view.php?id={{cmid}}&annotationmode=1"> {{#str}}viewannotations, mod_margic{{/str}} </a>{{/canmakeannotations}}
        {{/annotationmode}}
        {{#annotationmode}}
            <a class="btn btn-primary m-1" href="view.php?id={{cmid}}"> {{#str}}hideannotations, mod_margic{{/str}} </a>
            <a class="btn btn-primary m-1" href="" data-toggle="collapse" data-target=".collapseAnnotation" aria-expanded="false" aria-controls="collapseAnnotation" title="{{#str}}toggleallannotations, mod_margic{{/str}}"> {{#str}}toggleallannotations, mod_margic{{/str}} </a>
        {{/annotationmode}}
    {{/entries.0}}
    {{#canmanageentries}}<a class="btn btn-primary m-1" href="annotations_summary.php?id={{cmid}}"> {{#str}}annotationssummary, mod_margic{{/str}} </a>{{/canmanageentries}}

    {{#entries.0}}<span class="pull-right p-1">
        <a href="view.php?id={{cmid}}&action=download" class="p-1 pr-2 border-right solid"><i class="fa fa-2x fa-download" title="{{#str}}csvexport, mod_margic{{/str}}"></i></a>
        <a href="view.php?id={{cmid}}&action=currenttooldest" class="p-1"><i class="fa fa-2x fa-arrow-down" title="{{#str}}currenttooldest, mod_margic{{/str}}"></i></a>
        <a href="view.php?id={{cmid}}&action=oldesttocurrent" class="p-1"><i class="fa fa-2x fa-arrow-up" title="{{#str}}oldesttocurrent, mod_margic{{/str}}"></i></a>
        <a href="view.php?id={{cmid}}&action=lowestgradetohighest" class="p-1"><i class="fa fa-2x fa-thumbs-down" title="{{#str}}lowestgradetohighest, mod_margic{{/str}}"></i></a>
        <a href="view.php?id={{cmid}}&action=highestgradetolowest" class="p-1"><i class="fa fa-2x fa-thumbs-up" title="{{#str}}highestgradetolowest, mod_margic{{/str}}"></i></a>
        <a href="view.php?id={{cmid}}&action=latestmodified" class="p-1"><i class="fa fa-2x fa-pencil" title="{{#str}}latestmodified, mod_margic{{/str}}"></i></a>
    </span>{{/entries.0}}
</div>

{{#entries.0}}
<form action="view.php?id={{cmid}}" method="post">
    <input type="hidden" name="id" value="{{cmid}}">
    <input type="hidden" name="sesskey" value="{{sesskey}}">

    <div class="mt-1">
        <ul class="pagination">
            {{#pagebar}}
                <li class="page-item">
                    <a class="page-link" href="view.php?id={{cmid}}&page={{nr}}{{#annotationmode}}&annotationmode=1{{/annotationmode}}">{{{display}}}</a>
                </li>
            {{/pagebar}}

            <div class="ml-auto">
                <strong>{{#str}}pagesize, mod_margic{{/str}}:</strong>
                <select onchange="this.form.submit()" aria-label="Select page count" name="pagecount">
                    {{#pagecountoptions}}<option {{option}}>{{text}}</option>{{/pagecountoptions}}
                </select>
                <strong> / {{entriescount}}</strong>
            </div>
        </ul>
    </div>
</form>

{{/entries.0}}

{{#entries}}
    {{> margic/margic_entry }}
{{/entries}}

{{^entries}}
    <br>
    {{#canmanageentries}}{{#str}}noentriesfound, mod_margic{{/str}}{{/canmanageentries}}
    {{^canmanageentries}}{{#str}}notstarted, mod_margic{{/str}}{{/canmanageentries}}
{{/entries}}